{% extends 'email/email_base.html' %}

{% block preheader %}With the tokenized link in this email you are granted the right to reset your password.{% endblock %}

{% block email_content %}
    {% url 'user_auth:password_reset_confirm' uid token as temp_url_args %}
    {% with protocol|add:"://"|add:domain|add:temp_url_args as temp_activate_url %}

    {% include "email/email_base_text.html" with text="You are receiving this email because you (or someone pretending to be you) requested your password to be reset on our CryptoTax platform. <br>If you do not wish to reset your password, please ignore this message." %}
    {% include "email/email_base_text.html" with text="To reset your password, please click the following button." %}
    {% include "email/email_base_button.html" with url=temp_activate_url link_text="Reset Password" %}
    {% include "email/email_base_text.html" with text="If that doesn't work, copy and paste the following link in your browser:" pad_bottom="0px" %}
    {% include "email/email_base_link.html" with url=temp_activate_url pad_top="0px" %}

    {% include "email/email_base_text.html" with text="Your username, in case you've forgotten: "|add:username %}

    {% endwith %}
{% endblock %}
