{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {% if validlink %}
        {% include "email/email_base_text.html" with text="Set a new password!" pad_bottom="0px" %}
        <tr>
            <td bgcolor="#262D34" align="left" style="
                    padding: {% if pad_top %}{{ pad_top }}{% else %}20px{% endif %} 30px {% if pad_bottom %}{{ pad_bottom }}{% else %}20px{% endif %} 30px;
                    color: #949494; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy  }}
                    <div style="padding-top: 10px; padding-right: 30px"><div id="strong"><span></span></div></div>
                    <div id="valid" style="padding-top: 5px; padding-bottom:10px; color: #ef5350"></div>
                    {% include "email/email_base_button.html" with link_text="Reset Password" pad_bottom="40px" form_input=True %}
                </form>
{# RAW HTML: #}
{#    <p>#}
{#      <input type="password" value="" placeholder="Enter Password" id="p" class="textInput">#}
{#    </p>#}
{#    <p>#}
{#        <input type="password" value="" placeholder="Confirm Password" id="p-c" class="textInput">#}
{#    </p>#}
{#    <div style="padding-right: 30px"><div id="strong"><span></span></div></div>#}
{#    <div id="valid" style="padding-top: 5px; padding-bottom:15px;"></div>#}
{#    <small>Must be 6+ characters long and contain at least 1 upper case letter, 1 number, 1 special character</small>#}
            </td>
        </tr>
    {% else %}
        {% include "email/email_base_text.html" with text="The password reset link was invalid, possibly because it has already been used. Please request a new password reset." pad_bottom="30px" el_id="error_invalid_token" el_class="help-block" %}
    {% endif %}
{% endblock %}

{% block additional_scripts %}
    {% if validlink %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
        //Begin supreme heuristics
        $('.textInput').on('input',function (){
            var p_c = $('#id_new_password2');
            var p = $('#id_new_password1');
            console.log(p.val() + p_c.val());
            if(p.val().length > 0){
                if(p.val() != p_c.val()) {
                    $('#valid').html("Passwords Don't Match");
                } else {
                    $('#valid').html('');
                }
                var s = 'weak'
                var ns1 = 'medium'
                var ns2 = 'strong'
                if(p.val().length >= 8 && p.val().match(/\d+/g))
                    s = 'medium';
                    ns1 = 'weak';
                    ns2 = 'strong';
                if(p.val().length >= 10 && p.val().match(/[^\w\s]/gi)) {
                    s = 'strong';
                    ns1 = 'weak';
                    ns2 = 'medium';
                }
                $('#strong span').addClass(s).html(s);
                $('#strong span').removeClass(ns1).html(s);
                $('#strong span').removeClass(ns2).html(s);
            }
        });
    </script>
    {% endif %}
{% endblock %}